.maindiv
    height: 94vh

:host ::ng-deep
    .workspace-menu-warpper
        .p-tieredmenu
            padding: 0

        .p-tieredmenu-root-list
            padding: 0
            margin: 0

        .p-menuitem-link
            text-decoration: none

        




// .custom-tiered-menu

//     position: absolute

.workspace-card
    min-width: 60vw
    max-width: 50vw
    border: 1px solid #ccc
    border-radius: 8px
    padding: 16px
    
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    &:hover
        background: #d1d1d1 !important

    .title
        &:hover
            cursor: pointer

.settings-button
    border: none
    padding: 3px
    &:hover
        cursor: pointer
        background: #848484 !important
        &::focus
            
            background: #848484 !important
          

.main-workspaceshow-div
    min-width: 70vw
    padding: 10px

.btn-addworkspace
    overflow-wrap: break-word
    min-width: 60vw
    max-width: 50vw
    min-height:4vh 

.Header-title
    font-size: 4rem
    font-weight: 600

.workspaces-length
    min-width: 60vw
    max-width: 50vw

@media  ( max-width:390px)
    .Header-title
        font-size: 2.5rem
    