:host

:host ::ng-deep
    .topmenuwrapper
        .p-menubar
            background: #282e38
            border: none
            padding: 0
            border-radius: 0

        .p-menubar-root-list
            padding: 1px
            margin: 0

        .p-submenu-list
            padding: 0

        .p-menuitem
            margin-right: 5px
            margin-left: 5px
            padding: 0

        .p-submenu-list
            .p-menuitem
                margin: 0

        .p-menuitem-link

            padding: 10px
            text-decoration: none
            &:hover
                background: #c1c1c1
                border-radius: 10%
                .p-menuitem-text
                    color: #000

        .p-menuitem-text
            color: #969696

        .createbtn
            background: #326fd1
            border-radius: 5px
            .p-menuitem-text
                color: #000

    // profile menus sass code
    .profilemenuwrapper
        .p-tieredmenu
            padding: 0
            margin: 0

        .p-tieredmenu-root-list
            padding: 0
            margin: 0

        .p-submenu-list
            padding: 0
            margin: 0

        .p-menuitem-link
            text-decoration: none

.userProfilename
    padding: 2px
    border-radius: 50%
    background: #b61b1b
    color: #fff
    height: 30px
    width: 30px
    &:focus
        border: 1px solid #fff
        background: #df0707
    &:hover
        border: 1px solid #fff
        background: #df0707

.userprofile
    border-radius: 50%

.logo-text
    display: block
    font-family: 'Times New Roman', Times, serif
    &:hover
        cursor: pointer

.logo-img
    &:hover
        cursor: pointer

.serchicon
    display: none

@media (max-width: 390px)
    .searchbox
        display: none

    .serchicon
        display: block

@media  ( max-width:480px )
    .text-logo
        display: none
