<div class="row ">
    <div class="col">
        <app-topmenubar></app-topmenubar>
    </div>
</div>
<div class="row">
    <div *ngIf="sidebar_show" class="col sidebarmenu">
        <app-sidemenubar  (sidebar_close)="close_sidebar()"></app-sidemenubar>
    </div>
    <span class="sidebaropenbtn   col" *ngIf="!sidebar_show" (click)="for_openSidebar()">
        <button class="btn btn-primary " (click)="for_openSidebar()"><i class="pi pi-arrow-right"></i></button>
    </span>
   
    <div class="col dashboard">
        <router-outlet></router-outlet>
    </div>
</div>