:host ::ng-deep
    .select-workspace-wrapper
        .p-dropdown
            height: 40px
            width: 15vw

        .p-dropdown-label
            padding: 6px

        .p-dropdown-items
            padding: 0
            margin: 0

    
    
.boardCard
    width: 40vw
    height: 80vh
    background: #BDBDBD !important

.sub-card
    width: 100%

.maindiv
    height: 94vh

.boardBody
    padding: 0

.boards-ul
    padding: 0

.btn-board
    width:25vw

h2
    font-size: calc( small ) !important
