
<div class=" container-fluid  p-0  main-board-show-div d-flex flex-column  justify-content-center align-items-center">
    <div class="header my-5 ">
        <label class="Header-title ">Boards</label>
    </div>

    <div class="container   d-flex flex-column  justify-content-center align-items-center mt-3 "
        *ngFor="let item of currunt_boards$|async; index as i">

        <div class="boards-card bg-dark-subtle " *ngIf=" board_length">
            <div class="title d-flex gap-2 flex-wrap overflow-auto flex-fill   ">
                <div class="indexdiv">
                    <h3 class="align-self-center mb-0  ">{{i+1}}</h3>
                </div>
                <div class="title-textdiv">
                    <h3 class="align-self-center mb-0 ">{{item.title}}</h3>
                </div>
            </div>
            <div class="allicons d-flex gap-3 ">
                <button  class=" btn  btn-secondary p-1 m-0 bg-transparent border-0 text-dark favoriteBtn d-flex justify-content-center align-items-center  ">
                    <i [className]="item.isFavorite?'pi pi-star-fill fs-4':'pi pi-star fs-4'" ></i>
                </button>
                <button class="settings-button d-flex align-items-center justify-content-center  bg-transparent border-0 "
                (click)="board_item_menu.show($event)" (click)="slected_item_data($event,item)">
                    <i class="pi pi-cog  fs-4 "></i>
                </button>
            </div>

        </div>

    </div>
    <div class="noitem text-center " *ngIf="!board_length">
        <h2>Boards are Not Available.</h2>
    </div>
    <div class="board-length my-4 d-flex justify-content-end  ">
        <h4 class="align-self-start  m-0 ">Total:{{board_length? board_length:0}}</h4>
    </div>
    <div class="addboardbtn mt-2 ">
        <button class="btn btn-outline-success btn-addboard  " (click)="on_addBoard_show()">Add Board</button>
    </div>
</div>





<!-- board item setting tried menu_show -->
<div class="workspace-menu-warpper">
    <p-tieredMenu #board_item_menu [model]="board_item_setting_menu" [popup]="true"></p-tieredMenu>
</div>


<!-- delete workspace menu item dialog  -->
<p-confirmPopup></p-confirmPopup>

<p-toast></p-toast>


<!-- show board information dialog box -->
<div class="show-workspace-info-wrpper" *ngIf="c_selected_item">
    <p-dialog header="Workspace Information" [(visible)]="show_board_item_info" [modal]="true"
        [style]="{ width: '30rem' }" [draggable]="false" [modal]="true" [dismissableMask]="true">

        <ul class="fs-4 ">
            <li>
                <span class="fw-bold ">Title:</span> {{c_selected_item.title}}
            </li>
            <li>
                <span class="fw-bold ">Discription:</span> {{c_selected_item.description}}
            </li>
            <li>
                <span class="fw-bold ">Private:</span> {{c_selected_item.isFavorite}}
            </li>
        </ul>

    </p-dialog>
</div>




<!-- dialog for add workspace button click -->
<p-dialog header="Add Board" [(visible)]="visible_addBoard" [style]="{width: '30vw'}"
[draggable]="false" [modal]="true" [dismissableMask]="true">
    <form [formGroup]="boardform" (ngSubmit)="on_addBoard()">
        <div class="mb-3">
            <label name="workspace_title" class="form-label">Board Name</label>
            <input type="text" spellcheck="true" autofocus required class="form-control" id="w_name2"
                formControlName="boardTitle" autocomplete="off">
        </div>
        <div class="mb-3">
            <label name="workspace_desc" class="form-label"> Board Description</label>
            <input type="text" spellcheck="true" required class="form-control" id="w_desc2" formControlName="boardDesc"
                autocomplete="off">
        </div>
        <div class="my-3 d-flex">
            <label name="workspace_favorite" class="form-label">Favorite:</label>
            <p-inputSwitch formControlName="isFavorite" class="mx-2  " id="is_private2"></p-inputSwitch>
        </div>
        <!-- <div class="my-3 d-flex">
            <label name="workspace_archive" class="form-label">Archive:</label>
            <p-inputSwitch formControlName="isArchive" class="mx-2  " id="is_private2"></p-inputSwitch>
        </div> -->
        <div class="submit-btn d-flex justify-content-end ">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</p-dialog>

<p-dialog header="Update Board" [(visible)]="visible_updateBoard" [style]="{width: '30vw'}"
[draggable]="false" [modal]="true" [dismissableMask]="true">
    <form [formGroup]="boardform" (ngSubmit)="on_updateBoard()">
        <div class="mb-3">
            <label name="workspace_title" class="form-label">Board Name</label>
            <input type="text" spellcheck="true" autofocus required class="form-control" id="w_name2"
                formControlName="boardTitle" autocomplete="off">
        </div>
        <div class="mb-3">
            <label name="workspace_desc" class="form-label"> Board Description</label>
            <input type="text" spellcheck="true" required class="form-control" id="w_desc2" formControlName="boardDesc"
                autocomplete="off">
        </div>
        <div class="my-3 d-flex">
            <label name="workspace_favorite" class="form-label">Favorite:</label>
            <p-inputSwitch formControlName="isFavorite" class="mx-2  " id="is_private2"></p-inputSwitch>
        </div>
      
        <div class="submit-btn d-flex justify-content-end ">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</p-dialog>