<div class="maindiv d-flex justify-content-center align-items-center bg-light flex-column  gap-1 ">


   


    <div class="card boardCard bg-success-subtle">
        <div
            class="card-title  m-0  boardTitle p-1 mt-2   d-flex flex-column  justify-content-center overflow-hidden align-items-center ">
            <h1 class="fw-bolder">Boards</h1>
            <h4 class="align-self-end mx-3 mb-0">Total:{{board_length}}</h4>
        </div>
    <div class="card-body boardBody d-flex justify-content-center overflow-y-auto">
        <div class="card sub-card p-2 bg-dark-subtle">
            <ng-container *ngIf="((currunt_boards$ | async)?? []).length > 0; else noBoards">
                <ul class="boards-ul" *ngFor="let item of currunt_boards$ | async; index as i">
                    <li
                        class="card overflow-hidden p-1 bg-secondary d-flex flex-row justify-content-between align-items-center">
                        <div class="boardTitle d-flex justify-content-between">
                            <label id="idofworkspace" class="align-self-center mx-1 text-light fs-5">{{i + 1}}</label>
                            <button
                                class="btn btn-secondary mx-2 btn-board mb-0 d-flex justify-content-start align-items-center">
                                <h3 class="align-self-center mb-0">{{item.title}}</h3>
                            </button>
                        </div>
    
                        <div class="boardMainBody d-flex ">
                            <button disabled class=" btn btn-secondary p-2 m-0 "><i    [className]="item.isFavorite?'pi pi-star-fill fs-5':'pi pi-star fs-5'"></i></button>
                            <!-- btn for workspace setting -->
                            <button class="btn btn-secondary p-2 d-flex align-items-center">
                                <i class="pi pi-cog fs-5"></i>
                            </button>
                        </div>
                    </li>
                </ul>
            </ng-container>
            <ng-template #noBoards>
                <h2>No boards available</h2>
            </ng-template>
        </div>
    </div>

        <div class="addworkspacebtndiv p-2 d-flex justify-content-center ">
            <!-- add workspace button -->
            <button class="btn btn-success  " (click)="on_addBoard_show()">Add Board</button>
        </div>
    </div>
</div>



<!-- dialog for add workspace button click -->
<p-dialog header="Add Workspace" [(visible)]="visible_addBoard" [style]="{width: '30vw'}">
    <form [formGroup]="boardform" (ngSubmit)="on_addBoard()">
        <div class="mb-3">
            <label name="workspace_title" class="form-label">Board Name</label>
            <input type="text" spellcheck="true" autofocus required class="form-control" id="w_name2" formControlName="boardTitle"
                autocomplete="off">
        </div>
        <div class="mb-3">
            <label name="workspace_desc" class="form-label"> Board Description</label>
            <input type="text" spellcheck="true" required class="form-control" id="w_desc2" formControlName="boardDesc"
                autocomplete="off">
        </div>
        <div class="my-3 d-flex">
            <label name="workspace_favorite" class="form-label">Favorite:</label>
            <p-inputSwitch formControlName="isFavorite" class="mx-2  " id="is_private2"></p-inputSwitch>
        </div>
        <!-- <div class="my-3 d-flex">
            <label name="workspace_archive" class="form-label">Archive:</label>
            <p-inputSwitch formControlName="isArchive" class="mx-2  " id="is_private2"></p-inputSwitch>
        </div> -->
        <div class="submit-btn d-flex justify-content-end ">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</p-dialog>