.col
    padding: 0
    margin: 0

.row
    --bs-gutter-x: 0
    --bs-gutter-y: 0

.sidebarmenu
    position: absolute
    z-index: 1
    max-width: 280px
    width: 20%

.dashboard
    width: 80%


.mainbody
    flex-wrap: nowrap

.sidebaropenbtn
    transition: all
    animation: normal
    background: #0d6efd
    max-width: 15px
    position: relative
    &:hover
        background: #1D4ED8
    button
        position: absolute
        top: 43vh
        width: 10px
        height: 25px
        display: flex
        align-items: center
        justify-content: center
        border-radius: 50%
        &:hover
            cursor: pointer
            background: #1D4ED8
        i
            font-size: 10px
            color: #000
