<div class="card my-2 ">


    <div class=" d-flex  flex-row justify-content-between  bg-success-subtle  overflow-hidden ">

        <!-- TodoItems Value is here -->
        <div class=" text d-flex ">
            <div class=" align-self-center  ">
                <p class="mt-3 mx-2 fw-bold ">do what you thing</p>
            </div>

        </div>



        <div class="Functions mx-1   d-flex gap-1  ">

            <div class="initials-container mx-2  align-self-center">
                <label id="assgineuser">HI</label>
            </div>

            <!-- Update Button Here -->
            <div class=" align-self-center">
                <i class="fa fa-edit fw-bolder  text-light-emphasis  mt-1   fs-4 fbtn" pTooltip="Updete"></i>
            </div>

            <!-- Delete Button Here -->
            <p-toast></p-toast>
            <p-confirmPopup class="confirm"></p-confirmPopup>
            <div class=" align-self-center">
                <i class="fa fa-trash   text-danger fs-4 fbtn" pTooltip="Delete"></i>
            </div>



        </div>
    </div>
</div>

